<!-- <table>
  
  <tbody>




   
  </tbody>
</table> -->
<table>
  <tbody>
    <thead class="usertable">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col">Celular</th>
        <!-- <th scope="col">Celular</th> -->
      </tr>
    </thead>

    <% for(let i = 0; i < dados.length; i++){ %> 
    <tr <%- req.session.username == dados[i].username ? `style="color: white; font-style: bold;"` : `` %>>
    <td><%= dados[i].id %></td>
    <td><%= dados[i].username %></td>
    <td><%= dados[i].email %></td>
    <td><%= dados[i].password %></td>
    <td><%= dados[i].celular %></td>

    <% } %>
  </tbody>
</table>
